# Videos
*.mp4
*.avi
*.mov
*.mkv

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
media/informes/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pyc
