<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>    
        <handlers>
            <add name="Python FastCGI"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="C:\ProgramData\anaconda3\envs\Django\python.exe|C:\ProgramData\anaconda3\envs\Django\Scripts\wfastcgi.py"
                resourceType="Unspecified"
                requireAccess="Script" />
            <handlerSetting name="responseBufferLimit" value="0" />
        </handlers>
        <httpProtocol>
            <customHeaders>
               <add name="Accept-Ranges" value="bytes" />
            </customHeaders>
        </httpProtocol>        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="Django" />
                </hiddenSegments>
                <requestLimits maxAllowedContentLength="524288000" />
            </requestFiltering>
        </security>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\http\streambus" />
        <add key="DJANGO_SETTINGS_MODULE" value="streambus.settings" />
    </appSettings>
</configuration>